body.dark-mode {
    background-color: #121212;
    color: white;
}

header.dark-mode {
    background-color: #333;
}

.hero.dark-mode {
    background: #222;
}

footer.dark-mode {
    background: #333;
}
